<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Author dashboard</h1>
    <ul>
        <li>Hi! <%=user.firstName%></li>
    </ul>
    <p><a href="/article/add">Add Post</a></p>

    <div>
        <h1>
            Articles
        </h1>
        <table id="articleTable">            
            <tbody>
                <% articles.forEach(article=>{%>
                    <tr>
                        <td><%=article.articleId%></td>
                        <td><%=article.title%></td>
                        <td><%=article.author%></td>
                        <td><%=article.date%></td>
                        <td><button onclick="deleteArticle(this, '<%= article.articleId %>')">Delete</button></td>
                    </tr>
                <%})%>
                
            </tbody>
        </table>
        
    </div>

    <script>
        async function deleteArticle(e,id){           
            const response = await fetch(`/article/delete/${id}`);
            const data = JSON.parse(await response.json());            
            if(data.message == 'ok'){
                alert('Record deleted successfully');
                const parentNode = e.parentNode.parentNode;
                parentNode.remove();
            }
            else if(message.response=='error'){
                alert('Something went wrong');
            }
        }
    </script>

</body>
</html>