<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="blog-card">
        <img src="/images/<%= article.image %>" height="150px" width="120px"/>
        <h4><%=article.articleId%></h4>
        <p><%=article.article%></p>
        <p><span><%=article.date%></span><span><%=article.author%></span></p>        
    </div>
</body>
</html>