<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/styles.css" rel="stylesheet"/>
</head>
<body>

    <%- include('navbar.ejs')%>

    <table>
        <tbody>
            <%users.forEach(user=>{%>
                <tr>
                    <td><%= user.id%></td>
                    <td><%= user.firstName%></td>
                    <td><%= user.lastName%></td>
                    <td><%= user.email%></td>
                </tr>
            <%})%>
        </tbody>
    </table>
   
</body>
</html>